:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* List */

.list {
  list-style: none;
}

/* Link */

.link {
  text-decoration: none;
}

/* Button */

.button {
  cursor: pointer;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.secondary {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Logo */

.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .active {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.mail:hover {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  background-color: var(--secondary-bg-color);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  cursor: pointer;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}

.hero-button:hover {
  background-color: #188ce8;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Benefits */

.benefit-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefit-list .description {
  line-height: 1.71;
}

/* Team */

.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Projects */

.project-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-address-nav .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.link.address {
  color: var(--primary-white-color);
}

.footer-address-nav .link:hover,
.footer-address-nav .link:focus {
  color: var(--accent-color);
}
